body {
    background-image: url("../images/berserk.jpg");
    background-size: cover;
    object-fit: contain;

    .card {
        background-color: rgba(255, 255, 255, 0.092);
        box-shadow: 0 0 15px black;
        border-radius: 6%;

        .rounded-pill {
            border: 1px solid black;
            outline: none;
            padding: 3px 13px;
        }

        .checkbox {
            accent-color: $color;
            height: 18px;
            width: 18px;
        }

        .button {
            color: white;
            font-size: 17px;
            background-color: $color;
            &:hover{
                transition: ease-in-out 0.5s;
                color: $color;
                background-color: rgba(0, 0, 0, 0.296);
                border: 1px solid $color;
            }
        }
    }
}